@import '@fontsource/montserrat/400.css';
@import '@fontsource/montserrat/700.css';

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Montserrat', sans-serif;

	--color-foreground-50: #f0f0f5;
	--color-foreground-100: #b4b5cc;
	--color-foreground-200: #9497b6;
	--color-foreground-300: #5d618d;
	--color-foreground-400: #333550;
	--color-foreground-500: #202235;
	--color-foreground-600: #0f101c;
	--color-foreground: var(--color-foreground-500);

	--color-accent-50: #fdeded;
	--color-accent-100: #f5a4a1;
	--color-accent-200: #f27772;
	--color-accent-300: #c2352a;
	--color-accent-400: #86221a;
	--color-accent-500: #611610;
	--color-accent-600: #280503;
	--color-accent: var(--color-accent-300);

	--animate-pulse-scale: pulse-scale 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

	/* 2. Write your standard CSS keyframes right inside the theme */
	@keyframes pulse-scale {
		0%,
		100% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.5) rotate(10deg);
		} /* Grows to 112% size */
	}
}
